/* --------------------------------------------------------------

   typography.css
   * Sets up some sensible default typography.

-------------------------------------------------------------- */

/* Default font settings.
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */

html { font-size:100.01%; }
body {
  font-size: @textSize;
  color: @text;
  background: @bg;
  font-family: @sansSerifFonts;
  padding-left: @screenPadding; padding-right: @screenPadding; 
}


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: @titleText; }

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin: 0; }


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em; }

/*
  These can be used to pull an image at the start of a paragraph, so
  that the text flows around it (usage: <p><img class="left">Text</p>)
 */

.left       { float: left !important; }
p .left     { margin: 1.5em 1.5em 1.5em 0; padding: 0; }
.right      { float: right !important; }
p .right    { margin: 1.5em 0 1.5em 1.5em; padding: 0; }

p .top        { margin-top:0 !important; padding-top:0 !important; }
p .bottom     { margin-bottom:0 !important; padding-bottom:0 !important; }

a, a:focus  { color: @linkColor; text-decoration: none; }
a:hover     { color:@linkHoverColor; }

blockquote  { margin: 1.5em; color: @textQuiet; font-style: italic; }
strong,dfn  { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted @textQuiet; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:@textQuiet; }

pre         { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em @monospaceFonts; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

li ul,
li ol       { margin: 0; }
ul, ol      { margin: 0 1.5em 1.5em 0; padding-left: 3.333em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th    { background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tfoot       { font-style: italic; }
caption     { background: #eee; }

